.like-button {
  color: red;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
}

.like-button:hover {
  font-size: 3.1rem;
}

header,
footer {
  background-color: #DCDCDC;
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

main {
  margin-top: 65px;
  margin-bottom: 50px;
}

button {
  overflow: none;
  outline: none;
}

button:focus {
  overflow: none;
  outline: none;
}